<div class="app-video-single">
  <div class="container">
    <div class="single-video">
      <video class="single-post-video-palyer" controls>
        <source src="movie.mp4" type="video/mp4">
      </video>
    </div>
    <!-- video-player-control Start -->
    <div class="row">
      <div class="col-lg-4 d-none d-lg-block d-xl-block btn-group video-player-button" role="group" aria-label="Video Player">
        <button type="button" class="btn-icon btn btn-dark player-button">
          Like:
          <i class="fas fa-thumbs-up"></i>
        </button>
        <button type="button" class="btn-icon btn btn-dark player-button">
          Dislike:
          <i class="fas fa-thumbs-down"></i>
        </button>
        <button type="button" class="btn-icon btn btn-dark player-button">
          Share:
          <i class="fas fa-share-alt-square"></i>
        </button>
      </div>
      <div class="col">

      </div>
    </div>
    <!-- Row End -->
    <!-- video-player-control End -->
  </div>
</div>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="">
          <article>
            <h1>How Long – Charlie Puth – IAGO & KHS Cover</h1>
            <ul class="meta-data-list">
              <li class="meta-data-item">
                <i class="fa fa-user-circle nav-font-size"> &nbsp;</i>
                <a class="app-author nav-font-size" href="#">Girish</a>
              </li>
              <li class="meta-data-item">
                <i class="fas fa-calendar-alt nav-font-size">&nbsp;</i>
                <span>
                  <time class="entry-date nav-font-size" datetime="2018-07-29">July 30, 2018</time>
                </span>
              </li>
              <li class="meta-data-item">
                <i class="fa fa-comment nav-font-size" aria-hidden="true">&nbsp;</i>
                <span class="nav-font-size"> 10 </span>
              </li>
              <li class="meta-data-item">
                <i class="fa fa-eye nav-font-size" aria-hidden="true">&nbsp;</i>
                <span class="nav-font-size nav-font-size">718.3K</span>
              </li>
              <li class="meta-data-item">
                <i class="fa fa-thumbs-up nav-font-size" aria-hidden="true">&nbsp;</i>
                <span class="nav-font-size nav-font-size">2.3K</span>
              </li>
              <li class="meta-data-item">
                <i class="fa fa-thumbs-down nav-font-size" aria-hidden="true">&nbsp;</i>
                <span class="nav-font-size nav-font-size">144</span>
              </li>
            </ul>

            <div>
              <!-- Start Break Point Line Latest Post Bottom -->
              <p class="break-point-line"> </p>
            </div>
            <!-- End Break Point Line Latest Post Bottom -->
            
          </article>
        </section>

        <section class="section">
          <header class="section-header">
            <h6 class="section-title">Related videos</h6>
          </header>
          <div class="section-body">
            <!-- <div [appImageSlider]="relatedVideoSliderImages"></div> -->
          </div>
        </section>
        
        <section class="section">
          <header class="section-header">
            <h6 class="section-title">Most liked videos of this category</h6>
          </header>
          <div class="section-body">
            <div [appImageSlider]="relatedVideoSliderImages"></div>
          </div>
        </section>
      </div>
      <!-- col-md-8 End-->
      <!-- <div class="col-md-4">
          <app-video-sidebar></app-video-sidebar>
        </div> -->
      <!-- col-md-4 End-->
    </div>
  </div>
  <!--main Section End -->
</div>
