<div class="app-video-single">
  <div class="container">
    <div class="single-video">
      <video class="single-post-video-palyer" #videoPlayer>
      </video>
      <div class="video-player-frame">

        <span class="video-btn-span">
          <i (click)="videoPlayer.paused ? videoPlayer.play() : videoPlayer.pause()" [ngClass]="videoPlayer.paused ? 'video-play' : 'video-pause'"
            class="video-player-btn"></i>
        </span>

        <ul class="video-controls">
          <li>
            <span class="video-time">{{videoPlayer.currentTime}}/{{videoPlayer.duration}}</span>
          </li>
          <li>
            <span>
              <i class="fas fa-expand"></i>
            </span>
          </li>
          <li>
            <span>
              <i (click)="videoPlayer.muted = !videoPlayer.muted" [ngClass]="videoPlayer.muted ? 'fa-volume-off' : 'fa-volume-up'" class="fas"></i>
            </span>
          </li>
        </ul>
        <div (click)="seekVideo($event)" #seekBar class="progress video-seekbar">
          <div [ngStyle]="{width : seekBarpercent + '%'}" class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <!-- video-player-control Start -->
    <div class="row">
      <div class="col-lg-4 d-none d-lg-block d-xl-block btn-group video-player-button" role="group" aria-label="Video Player">
        <button type="button" class="btn-icon btn btn-dark player-button">
          Like:
          <i class="fas fa-thumbs-up"></i>
        </button>
        <button type="button" class="btn-icon btn btn-dark player-button">
          Dislike:
          <i class="fas fa-thumbs-down"></i>
        </button>
        <button type="button" class="btn-icon btn btn-dark player-button">
          Share:
          <i class="fas fa-share-alt-square"></i>
        </button>
      </div>
      <div class="col">

      </div>
    </div>
    <!-- Row End -->
    <!-- video-player-control End -->
  </div>
</div>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="">
          <article>
            <h1>How Long – Charlie Puth – IAGO & KHS Cover</h1>
            <ul class="meta-data-list">
              <li class="meta-data-item">
                <i class="fa fa-user-circle nav-font-size"> &nbsp;</i>
                <a class="app-author nav-font-size" href="#">Girish</a>
              </li>
              <li class="meta-data-item">
                <i class="fas fa-calendar-alt nav-font-size">&nbsp;</i>
                <span>
                  <time class="entry-date nav-font-size" datetime="2018-07-29">July 30, 2018</time>
                </span>
              </li>
              <li class="meta-data-item">
                <i class="fa fa-comment nav-font-size" aria-hidden="true">&nbsp;</i>
                <span class="nav-font-size"> 10 </span>
              </li>
              <li class="meta-data-item">
                <i class="fa fa-eye nav-font-size" aria-hidden="true">&nbsp;</i>
                <span class="nav-font-size nav-font-size">718.3K</span>
              </li>
              <li class="meta-data-item">
                <i class="fa fa-thumbs-up nav-font-size" aria-hidden="true">&nbsp;</i>
                <span class="nav-font-size nav-font-size">2.3K</span>
              </li>
              <li class="meta-data-item">
                <i class="fa fa-thumbs-down nav-font-size" aria-hidden="true">&nbsp;</i>
                <span class="nav-font-size nav-font-size">144</span>
              </li>
            </ul>

            <div>
              <!-- Start Break Point Line Latest Post Bottom -->
              <p class="break-point-line"> </p>
            </div>
            <!-- End Break Point Line Latest Post Bottom -->

          </article>
        </section>

        <section class="section">
          <header class="section-header">
            <h6 class="section-title">Related videos</h6>
          </header>
          <div class="section-body">
            <!-- <div [appImageSlider]="relatedVideoSliderImages"></div> -->
          </div>
        </section>

        <section class="section">
          <header class="section-header">
            <h6 class="section-title">Most liked videos of this category</h6>
          </header>
          <div class="section-body">
            <div [appImageSlider]="relatedVideoSliderImages"></div>
          </div>
        </section>
      </div>
      <!-- col-md-8 End-->
      <!-- <div class="col-md-4">
          <app-video-sidebar></app-video-sidebar>
        </div> -->
      <!-- col-md-4 End-->
    </div>
  </div>
  <!--main Section End -->
</div>
