/* Single Video Player */
.app-video-single{
    background-color: black;
    margin-top: 0px;
}
.single-video{
    margin-top: 0px;
    width: 100%;
    height: auto;
}
.single-post-video-palyer{
    width: 100%;
    height: auto;
    left: 0px;
    margin-top: 40px;
}
/* Single Video Player Class End */

/* Single Player Control-Icon Start*/
.btn-group.video-player-button>button {
    font-weight: 600;
}
.player-button{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}   
/* Single Player Control-Icon End*/

/* main section start */

.main{
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}
article>h1{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}



.break-point-line{
    border: .8px solid #efefef;
    margin-top: 0px;
    margin-bottom: 0px; 
}

.meta-content {
    margin-top: 30px;
}
.video-article-image{
    width: 100%;
    height: auto;
    display: block;
}
.blockquote{
    padding: 13px 20px 13px 75px;
    font-size: 18px;
    border-left: 10px solid #CC0000;
    border-right: 2px solid #CC0000;
    background: #000000;
    color: #999999;
}
/* main section end */
