<section class="footer">
  <div class="container">
    <div class="row app-footer">
      <div class="col-4">
        <div class="col-12">
          <h3> Video Review</h3>
        </div>
        <div class="col-12 textwidget">
          <p>VidoRev is a Responsive WordPress Theme best suitable for
            <strong>VIDEO, MOVIE, NEWS, MAGAZINE, BLOG</strong> or
            <strong>REVIEW SITES</strong>.</p>
          <p>
            <em>Each and every element has been tested to ensure it adapts to modern smartphones and tablets. </em>
          </p>
          <p>Spectr comes with 06 different headers to choose on, 06 homepage layouts, 07 different blog listing layouts and
            including single post video, playlist, gallery, quote, audio, Soundcloud ….</p>
        </div>
      </div>
      <div class="col-4">
        <div class="col-12">
          <h3> Video Review</h3>
        </div>
        <div class="col-12 textwidget">
          <p>HI</p>
        </div>
      </div>
      <div class="col-4">
        <div class="col-12">
          <h3> Video Review</h3>
        </div>
        <div class="col-12 textwidget">
          <p>VidoRev is a Responsive WordPress Theme best suitable for
            <strong>VIDEO, MOVIE, NEWS, MAGAZINE, BLOG</strong> or
            <strong>REVIEW SITES</strong>.</p>
          <p>
            <em>Each and every element has been tested to ensure it adapts to modern smartphones and tablets. </em>
          </p>
          <p>Spectr comes with 06 different headers to choose on, 06 homepage layouts, 07 different blog listing layouts and
            including single post video, playlist, gallery, quote, audio, Soundcloud ….</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="app-copyright">Copyright © 2018. Created by BeeTeam368 Powered by WordPress</p>
  </div>
  
</section>