<section class="footer">
  <div class="container">
    <div class="row app-footer">
      <div class="col-lg app-footer-section">
        <!-- Start App Footer Section -->
        <div class="widget-title">
          <img src="assets/images/logo/logo.png" class="img-rounded" alt="Media Tube">
        </div>
        <div class=" textwidget">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <p>
            <button class="btn btn-danger btn-hover-light" type="button">FIND OUT MORE &nbsp;
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </button>
          </p>
        </div>
      </div>
      <!-- End App Footer Section -->

      <!-- Latest News Section -->
      <div class="col-lg app-footer-section">
        <div class="">
          <p class="extra-bold widget-title"> Lorem Ipsum</p>
        </div>
        <div class=" textwidget">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book. 
          </p>
        </div>
        <!-- End Latest News Section col-12-->
      </div>
      <!-- End Latest News Section -->

      <!-- Start Most Discussed Section End -->

      <div class="col-lg app-footer-section">
        <div class="">
          <p class="extra-bold widget-title"> Lorem Ipsum</p>
        </div>
        <div class="textwidget">

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book. 
          </p>
        </div>
        <!-- End Most Discussed Section col-12-->
      </div>
      <!-- Start Most Discussed Section End -->
    </div>
  </div>

  <div class="footer-copyright">
    <p class="app-copyright">Copyright © {{currentYear}}. All right reserved. </p>
  </div>
  <!-- End Footer Copyright -->

</section>
