<section class="footer">
  <div class="container">
    <div class="row app-footer">
      <div class="col-lg app-footer-section">
        <!-- Start App Footer Section -->
        <div class="widget-title">
          <img src="assets/images/logo/logo-default.png" class="img-rounded" alt="Media Tube">
        </div>
        <div class=" textwidget">
          <p>VidoRev is a Responsive WordPress Theme best suitable for
            <strong>VIDEO, MOVIE, NEWS, MAGAZINE, BLOG</strong> or
            <strong>REVIEW SITES</strong>.</p>
          <p>
            <em>Each and every element has been tested to ensure it adapts to modern smartphones and tablets. </em>
          </p>
          <p>Spectr comes with 06 different headers to choose on, 06 homepage layouts, 07 different blog listing layouts and
            including single post video, playlist, gallery, quote, audio, Soundcloud ….</p>
          <p>
            <button class="btn btn-danger btn-hover-light" type="button">FIND OUT MORE &nbsp;
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </button>
          </p>
        </div>
      </div>
      <!-- End App Footer Section -->

      <!-- Latest News Section -->
      <div class="col-lg app-footer-section">
        <div class="">
          <p class="extra-bold widget-title"> Latest News</p>
        </div>
        <div class=" textwidget">
          <!-- Start Latest News Section col-12-->
          <div class="row">
            <!-- Start Row Section col-12-->

            <!-- First latest news div -->
            <div class="col-4">
              <img src="assets/images/home/breaktime.jpg" class="img post-image" alt="Media Tube">
            </div>
            <div class="col-8 media-content ">
              <p class="post-content">
                <a href="">Kind of blue: Porto’s azulejo facades – in pictures </a>
              </p>
              <div class="post-meta-wrap">
                <div class=" author">
                  <div class="author vcard">
                    <i class="fa fa-user-circle"> &nbsp;</i>
                    <a class="app-author" href="#">Girish</a>
                  </div>
                </div>
                <div class="date-time">
                  <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
                  <span>
                    <time class="entry-date app-date" datetime="2018-07-29">July 30, 2018</time>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-12">
              <!-- Start Break Point Line Latest Post Bottom -->
              <p class="break-point-line"> </p>
            </div>
            <!-- End Break Point Line Latest Post Bottom -->

            <!-- second latest news div -->
            <div class="col-4 ">
              <img src="assets/images/home/person.jpg" class="img post-image" alt="Media Tube">
            </div>
            <div class="col-8 media-content">
              <p class="post-content">
                <a href="">Generation rent: why I’ll never live in a place I can hang the washing </a>
              </p>
              <div class=" post-meta-wrap">
                <div class="author">
                  <div class="author vcard">
                    <i class="fa fa-user-circle"> &nbsp;</i>
                    <a class="app-author" href="#">Girish</a>
                  </div>
                </div>
                <div class="date-time">
                  <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
                  <span>
                    <time class="entry-date app-date" datetime="2018-07-29">July 22, 2018</time>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-12">
              <!-- Start Break Point Line Latest Post Bottom -->
              <p class="break-point-line"> </p>
            </div>
            <!-- End Break Point Line Latest Post Bottom -->

            <!-- Third latest news div -->
            <div class="col-4 ">
              <img src="assets/images/home/movie1.jpg" class="img post-image" alt="Media Tube">
            </div>
            <div class="col-8 media-content">
              <p class="post-content">
                <a href="">Will you be able to afford a flat if you stop buying avocado toast? </a>
              </p>
              <div class="post-meta-wrap">
                <div class="author">
                  <div class="author vcard">
                    <i class="fa fa-user-circle"> &nbsp;</i>
                    <a class="app-author" href="#">Girish</a>
                  </div>
                </div>
                <div class="date-time">
                  <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
                  <span>
                    <time class="entry-date app-date" datetime="2018-07-29">July 19, 2018</time>
                  </span>
                </div>
              </div>
            </div>
            <!-- End Third latest new div -->
          </div>
          <!-- End Row Section col-12-->
        </div>
        <!-- End Latest News Section col-12-->
      </div>
      <!-- End Latest News Section -->

      <!-- Start Most Discussed Section End -->

      <div class="col-lg app-footer-section">
        <div class="">
          <p class="extra-bold widget-title"> MOST DISCUSSED </p>
        </div>
        <div class="textwidget">
          <!-- Start Most Discussed Section col-12-->
          <div class="row">
            <!-- Start Row Section col-12-->
            <!-- First Most Discussed div -->
            <div class="col-4">
              <img src="assets/images/home/movie1.jpg" class="img post-image" alt="Media Tube">
            </div>
            <div class="col-8 media-content">
              <p class="post-content">
                <a href="">Kind of blue: Porto’s azulejo facades – in pictures </a>
              </p>
              <div class="post-meta-wrap">
                <div class="author">
                  <div class="author vcard">
                    <i class="fa fa-user-circle"> &nbsp;</i>
                    <a class="app-author" href="#">Girish</a>
                  </div>
                </div>
                <div class="comment">
                  <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;
                  <span>43</span>
                </div>
              </div>
            </div>

            <div class="col-12">
              <!-- Start Break Point Line Latest Post Bottom -->
              <p class="break-point-line"> </p>
            </div>
            <!-- End Break Point Line Latest Post Bottom -->

            <!-- second Most Discussed div -->
            <div class="col-4 ">
              <img src="assets/images/home/movie2.jpg" class="img post-image" alt="Media Tube">
            </div>
            <div class="col-8 media-content">
              <p class="post-content">
                <a href="">GOOGLE ADSENSE </a>
              </p>
              <div class="row post-meta-wrap ">
                <div class="author">
                  <div class="author vcard">
                    <i class="fa fa-user-circle"> &nbsp;</i>
                    <a class="app-author" href="#">Girish</a>
                  </div>
                </div>
                <div class="comment">
                  <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;
                  <span>14</span>
                </div>
              </div>
            </div>

            <div class="col-12">
              <!-- Start Break Point Line Latest Post Bottom -->
              <p class="break-point-line"> </p>
            </div>
            <!-- End Break Point Line Latest Post Bottom -->

            <!-- Third Most Discussed div -->
            <div class="col-4">
              <img src="assets/images/home/movie3.jpg" class="img post-image" alt="Media Tube">
            </div>
            <div class="col-8 media-content">
              <p class="post-content">
                <a href="">Battlefield Hardline Beta Trailer </a>
              </p>
              <div class="post-meta-wrap">
                <div class=" author">
                  <div class="author vcard">
                    <i class="fa fa-user-circle"> &nbsp;</i>
                    <a class="app-author" href="#">Girish</a>
                  </div>
                </div>
                <div class="comment">
                  <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;
                  <span>26</span>
                </div>
              </div>
            </div>
            <!-- End Third Most Discussed div -->
          </div>
          <!-- End Row Section col-12-->
        </div>
        <!-- End Most Discussed Section col-12-->
      </div>
      <!-- Start Most Discussed Section End -->
    </div>
  </div>

  <div class="footer-copyright">
    <p class="app-copyright">Copyright © 2018. Created by BeeTeam368 Powered by WordPress</p>
  </div>
  <!-- End Footer Copyright -->

</section>
