<header class="app-header">
  <section class="top-header-bar">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <span class="text-light contact-text">
            <b>Contact us -: </b> <a href="sales@mail.com">sales@jmm.com</a>
          </span>
        </div>
        <div class="col-4">
          <div class="btn-group header-btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn-icon btn btn-dark">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn-icon btn btn-dark">
              <i class="fab fa-twitter"></i>
            </button>
            <button type="button" class="btn-icon btn btn-dark">
              <i class="fab fa-google-plus"></i>
            </button>
            <button type="button" class="btn-icon btn btn-dark">
              <i class="fas fa-user-tie"></i>
            </button>
            <button type="button" class="btn btn-danger btn-hover-light">Submit video</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- top-header-bar -->

  <section class="logo-wrapper">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4">
          <span class="logo">
            <img src="assets/images/logo/logo-default.png" alt="">
          </span>
        </div>
        <div class="col-8">
          <span class="nav-banner float-right">
            <img src="assets/images/banner/nav-banner.png" alt="">
          </span>
        </div>
      </div>
    </div>
  </section>

  <section class="main-nav theme-bg">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 nav-search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </nav>
    </div>
  </section>
</header>
