<header class="app-header">
  <section class="top-header-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <span class="text-light contact-text">
            <b>Contact us -: </b>
            <a href="sales@mail.com">sales@jmm.com</a>
          </span>
        </div>
        <div class="col-lg-4 d-none d-lg-block d-xl-block">
          <div class="btn-group header-btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn-icon btn btn-dark">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn-icon btn btn-dark">
              <i class="fab fa-twitter"></i>
            </button>
            <button type="button" class="btn-icon btn btn-dark">
              <i class="fab fa-google-plus"></i>
            </button>
            <button type="button" class="btn-icon btn btn-dark">
              <i class="fas fa-user-tie"></i>
            </button>
            <button type="button" class="btn btn-danger btn-hover-light">Submit video</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- top-header-bar -->

  <section class="logo-wrapper">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 d-none d-lg-block d-xl-block ">
          <span class="logo">
            <img src="assets/images/logo/logo-default.png" alt="">
          </span>
        </div>
        <div class="col-lg-8">
          <span class="nav-banner">
            <img src="assets/images/banner/nav-banner.png" alt="">
          </span>
        </div>
      </div>
    </div>
  </section>

  <section class="main-nav theme-bg shadow-lg">
    <div class="container">
      <section class="app-nav mobile-menu-wrap">

      </section>
      <nav class="app-nav app-nav-desktop">
        <div class="btn-wrap">
          <button (click)="toggleMobileMenu(true)" type="button" class="mob-nav-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="logo-wrap">
          <img src="assets/images/logo/logo-default.png" alt="">
        </div>

        <div [ngClass]="{'hide-main-menu' : !showMobMenu}" class="main-menu-wrapper">
          <div class="mob-menu-sec mob-close-btn-wrap">
            <button (click)="toggleMobileMenu(false)" type="button">
              <i class="far fa-times-circle"></i>
            </button>
          </div>
          <div class="mob-menu-sec mob-social-menu-wrap">
            <button type="button" class="btn-icon btn btn-dark">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn-icon btn btn-dark">
              <i class="fab fa-twitter"></i>
            </button>
            <button type="button" class="btn-icon btn btn-dark">
              <i class="fab fa-google-plus"></i>
            </button>
            <button type="button" class="btn-icon btn btn-dark">
              <i class="fas fa-user-tie"></i>
            </button>
          </div>
          <ul  class="mob-menu-sec main-nav">
            <ng-container *ngIf="mainNavMenu.NavItems && mainNavMenu.NavItems.length > 0">
              <li class="main-nav-item" *ngFor="let _navItem of mainNavMenu.NavItems">
                <a href="{{_navItem.Href}}" class="main-nav-link">{{_navItem.Text}}
                  <i *ngIf="_navItem.ChildMenu && _navItem.ChildMenu.length > 0" 
                    (click)="toggleMenu($event, _navItem)" 
                    class="fas fa-angle-down" 
                    aria-hidden="true"></i>
                </a>
                <ng-container *ngIf="_navItem.ChildMenu && _navItem.ChildMenu.length > 0">
                  <ul  
                    *ngFor="let _childMenu of _navItem.ChildMenu" 
                    [hidden]="_childMenu.Hidden" 
                    class="sub-menu animated fadeIn">
                    <li *ngFor="let _subNavItem of _childMenu.NavItems" class="sub-menu-item">
                      <a href="{{_subNavItem.Href}}" class="main-nav-link sub-menu-link">{{_subNavItem.Text}}</a>
                    </li>
                  </ul>
                </ng-container>
              </li>
            </ng-container>
          </ul>

        </div>
        <div class="search-div">
          <form action="" method="post">
            <div>
              <input placeholder="Search..." type="search" class="nav-search-box">
            </div>
          </form>
        </div>
      </nav>
     
    </div>
  </section>
</header>
