<header class="page-header">
  <ng-container *ngIf="LatestVideos.length > 0">
    <article *ngFor="let lVdo of LatestVideos" class="h-media-wrapper h-media-img animated fadeIn" [hidden]="!(lVdo.Id == selectedSlide)" [ngStyle]="{'background-image' : 'url(' + lVdo.Thumbnails.Orignal + ')'}">
      <div class="h-media-inner">
        <div class="h-play-btn">
          <i class="fas fa-play"></i>
        </div>
        <div class="h-media-title">
          {{lVdo.Title}}
        </div>
        <div class="h-media-meta-data">
          <ul>
            <li>
              <i class="fas fa-calendar"></i> oct 19, 2018
            </li>
            <li>
              <i class="fas fa-eye"></i> 4.5M
            </li>
            <li>
              <i class="fas fa-thumbs-up"></i> 58.4K
            </li>
            <li>
              <i class="fas fa-thumbs-down"></i> 122.K
            </li>
          </ul>
        </div>
      </div>
    </article>
  </ng-container>

  <ng-container *ngIf="LatestVideos.length > 0">
    <section class="container banner-btn-container">
      <article class="banner-btn-wrap">
        <div *ngFor="let lVdoBtn of LatestVideos" class="banner-btn" [class.banner-btn-active]="selectedSlide == lVdoBtn.Id" (click)="showSlide(lVdoBtn.Id)">
          <span>
            {{lVdoBtn.Title}}
          </span>
        </div>
      </article>
    </section>
  </ng-container>
</header>
