/* You can add global styles to this file, and also import other style files */

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

a.post-link {
  color: #1f1f1f;
  transition: color 0.25s;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

a.post-link:hover {
  color: #CC0000;
}

.btn-icon {
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 14px;
}

.btn-hover-light:hover {
  background-color: #e6e6e6;
  color: #000000;
  background: linear-gradient(to left bottom, #FFFFFF 50%, #e6e6e6 50%);
}

.btn-hover-dark:hover {
  background-color: black;
  color: #fff;
  background: linear-gradient(to left bottom, #1F1F1F 50%, black 50%);
}

.theme-bg {
  background-color: #CC0000;
}

.nav-link.active,
.nav-link:hover {
  background-color: #b80000;
  color: #fff;
}

.nav-item:hover>.dropdown-menu {
  display: block;
}

li.nav-item.dropdown>.dropdown-menu {
  background-color: transparent;
  border-radius: 0;
  margin-top: 0;
  border: 0;
  padding: 0;
}

li.nav-item.dropdown>.dropdown-menu>.dropdown-item {
  padding: 10px 20px;
  border-top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

li.nav-item.dropdown>.dropdown-menu>.dropdown-item:hover {
  background-color: #b80000;
}

.contact-text {
  margin-top: 6px;
  display: inline-block;
}

.main-content {
  padding-top: 80px;
}

header.page-header {
  position: relative;
  margin-bottom: 50px;
}

/* section */

.section {
  margin-bottom: 40px;
}

.section-title,
.sidebar-title {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.section-title.section-title-center {
  text-align: center;
}

.section-header {
  padding: 20px 0px;
}

.section-body {
  padding: 0 0px 0px 0px;
}

/* sidebar */

.sidebar-item {
  border: solid 2px lightgray;
  padding: 20px;
  margin-bottom: 40px;
}

.ads {
  margin-bottom: 40px;
}

.sidebar-title {
  border-bottom: solid 1px lightgray;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}

.sidebar-title:before {
  content: '';
  position: absolute;
  height: 3px;
  background: red;
  width: 10%;
  bottom: -2px;
}

/* slider */

.imgs-wrap {
  display: flex;
  flex-wrap: nowrap;
  cursor: w-resize;
  overflow: hidden;
}

.imgs-single {
  padding: 7px;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
}

.imgs-single.post-full-width {
  display: flex;
  justify-content: space-between;
}

.imgs-single.post-full-width>div {
  flex-basis: 50%;
}

.imgs-single.post-full-width>div:last-of-type {
  padding-left: 20px;
}

.imgs-wrap .imgs-single {
  flex-basis: 25%;
}

.imgs-image {
  background-size: cover;
  height: 180px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-wrapper .imgs-single {
  padding: 0;
  margin-bottom: 30px;
}

.cat-wrapper .imgs-image {
  height: 200px;
  position: relative;
}

.play-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  padding-left: 6px;
  cursor: pointer;
}

.play-btn:hover {
  animation-name: play-btn-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.imgs-image:hover .play-btn {
  background-color: #cc0000;
}

.duration-text {
  padding: 3px 10px 3px 10px;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  position: absolute;
  left: 3px;
  bottom: 3px;
  font-size: 12px;
}

.imgs-meta-data>ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  flex-wrap: wrap;
}

.imgs-meta-data>ul>li {
  margin-right: 15px;
  color: gray;
  font-size: 12px;
}

.imgs-title {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 10px 0 5px 0;
}

.imgs-container {
  position: relative;
}

span.imgs-control-left,
span.imgs-control-right {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

span.imgs-control-left {
  left: -40px;
}

span.imgs-control-right {
  right: -40px;
}

span.imgs-control-left>i,
span.imgs-control-right>i {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: gray;
  border-radius: 50%;
  padding-top: 13px;
  color: #fff;
  align-self: center;
  cursor: pointer;
}

.imgs-container:hover span.imgs-control-left>i,
.imgs-container:hover span.imgs-control-right>i {
  background-color: #cc0000;
}

.section-header-action {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.category-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-list>li>a {
  color: gray;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  margin: 0 0 0 20px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.25s;
  border-bottom: solid 1px transparent;
}

.category-list>li>a.active-tab {
  color: #000000;
  border-bottom: solid 1px #000000;
}

.category-list>li>a:hover {
  color: #000000
}

@keyframes play-btn-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1)
  }
}

/* slider ends */

/* single post author and date CSS */

.app-author {
  text-decoration: none;
  text-decoration: none;
  color: #AEAEAE;
  font-size: 12px;
  text-transform: uppercase;
}

.app-author:hover {
  color: #000;
}

.meta-data-list {
  margin-top: 0;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
}

.meta-data-item {
  color: #888888;
  font-size: 12px;
  margin-right: 20px;
}

/* single post author and date End */

/* badge categories style */

.badge {
  font-size: 11px;
  font-weight: normal;
  border-radius: 0;
  text-transform: uppercase;
}

.badge-categories {
  margin-right: 5px;
  cursor: pointer;
}

.badge.badge-warning.badge-categories:hover {
  background-color: #d29d00;
}

/* badge categories style */

/* responsive css */

/* large device */

@media screen and (max-width: 1200px) {
  .imgs-wrap .imgs-single {
    flex-basis: 33.333%;
  }
}

/* medium device */

@media screen and (max-width: 992px) {
  .imgs-wrap .imgs-single {
    flex-basis: 50%;
  }
}

/* medium device */

@media screen and (max-width: 768px) {
  span.imgs-control-right {
    right: 0;
  }
  span.imgs-control-left {
    left: 0;
  }
}

/* small device */

@media screen and (max-width: 576px) {
  .imgs-wrap .imgs-single {
    flex-basis: 100%;
  }
}
